@model Magazyn.Domain.Entities.Sale

@{
    ViewBag.Title = "Administracja: generowanie raportów ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}
<style>
    .body {
        font-size: 14px;
        font-family: 'Courier New';
    }
</style>

<br />
<strong><h3>DOKUMENT PZ</h3></strong>
<strong>Numer dokumentu -</strong> @Model.SaleID <br />
<strong>Data wystawienia- </strong> @DateTime.Now <br />
<strong>Data przyjęcia towaru - </strong>@Model.Data <br />
<strong>Nazwa towaru -</strong> @Model.ProductName <br />
<strong>Oznaczenie towaru -</strong> @Model.ProductID <br />
<strong>Cena jednostkowa -</strong> @Model.Price <br />
<strong>Ilość przyjętego towaru -</strong> @Model.Quantity <br />
<strong>Całkowita wartość towarów -</strong>  @Model.TotalAmount <br />
<br />
<br />
<strong>
    Dane Firmy - Magazyn sprzedażowy, <br />
    ul. Koronowska 2, 85-105 Bydgoszcz.
</strong>
<br />
<br />
<br />
<br />
<br />

<strong><i>Podpis osoby upoważnionej do wystawienia PZ</i></strong>
<br />
<br />
<br />
<br />
<strong><i>Podpis dostawcy</i></strong>
<br />
<br />
<br />
<strong><i>Podpis odbierającego</i></strong>