@model Magazyn.Domain.Entities.Contractor
@{
    ViewBag.Title = "Administracja: edycja kontrahenta ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edycja @Model.ContractorName</h3>
    </div>
    @using (Html.BeginForm("EditContractor", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ContractorID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ContractorID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                          @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                          @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }

        </div>



        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj i wróć do listy", "Contractor", null, new
            {
           @class = "btn btn-default"
            })
        </div>
    }
</div>


